<a href="https://colab.research.google.com/github/Eduardo-Lujan/myFirstRepo/blob/master/LIDS0006_U1M1_Types_SP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <a href="https://cocl.us/NotebooksPython101">
         <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Ad/TopAd.png" width="750" align="center">
    </a>
</div>

<a href="https://cognitiveclass.ai/">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Ad/CCLog.png" width="200" align="center">
</a>

<h1>Python: ¡Cómo escribir su primer código en Python!</h1>

<p><strong>¡Bienvenido!</strong> Este cuad"Jupyter Notebooks"erno le enseñará los conceptos básicos del lenguaje de programación Python. Aunque la información que se presenta aquí es bastante básica, es una base importante que lo ayudará a leer y escribir códigos en Python. Al final de este "Jupyter Notebooks", conocerá los conceptos básicos de Python, que incluyen cómo escribir comandos básicos, comprender algunos tipos básicos y realizar operaciones simples con los mismos.</p>

<h2>Índice</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#hola">Diga "Hola" al mundo en Python </a>
            <ul>
                <li><a href="version">¿Qué versión de Python usamos?</a></li>
                <li><a href="comentarios">Cómo escribir comentarios en Python</a></li>
                <li><a href="errores">Errores en Python</a></li>
                <li><a href="errores_python">¿Python reconoce errores antes de ejecutar su código?</a></li>
                <li><a href="ejercicio">Ejercicio: Su primer programa</a></li>
            </ul>
        </li>
        <li>
            <a href="#tipos_objetos">Tipos de objetos en Python</a>
            <ul>
                <li><a href="ent">Enteros</a></li>
                <li><a href="flotantes">Flotantes</a></li>
                <li><a href="convertir">Cómo convertir de un tipo de objeto a otro tipo de objeto</a></li>
                <li><a href="bool">Tipo de datos booleano</a></li>
                <li><a href="ejer_tipo">Ejercicio: Tipos</a></li>
            </ul>
        </li>
        <li>
            <a href="#expresiones">Expresiones y variables</a>
            <ul>
                <li><a href="exp">Expresiones</a></li>
                <li><a href="exer_exp">Ejercicio: Expresiones</a></li>
                <li><a href="var">Variables</a></li>
                <li><a href="ejer_exp_var">Ejercicio: Expresión y variables en Python</a></li>
            </ul>
        </li>
    </ul>
    <p>
        Tiempo estimado necesario: <strong>25 min</strong>
    </p>
</div>

<hr>

<h2 id="hola">Diga "Hola" al mundo en Python</h2>

Cuando se aprende un nuevo lenguaje de programación, es habitual comenzar con un ejemplo de "hola, mundo". Por más simple que parezca, esta línea de código garantizará que sepamos cómo escribir una cadena en salida y cómo ejecutar el código dentro de las celdas de un "Jupyter Notebooks".

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Consejo]: Para ejecutar el código de Python en la celda de código a continuación, haga clic en la celda para seleccionarla y presione <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

In [1]:
# Pruebe su primera salida en Python

print('¡Hola, Python!')

¡Hola, Python!

Después de ejecutar la celda anterior, debería ver que Python escribe <code>¡Hola, Python!</code>. ¡Felicitaciones por ejecutar su primer código en Python!

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>print()</code> is a function. You passed the string <code>'Hello, Python!'</code> as an argument to instruct Python on what to print.
</div>
<hr/>

<h3 id="version">¿Qué versión de Python usamos?</h3>

<p>
    Hoy en día existen dos versiones populares del lenguaje de programación Python en uso: Python 2 y Python 3. La comunidad Python ha decidido pasar de Python 2 a Python 3, y muchas bibliotecas populares han anunciado que ya no serán compatibles con Python 2. 
</p>
<p>
    Ya que Python 3 es el futuro, en este curso usaremos exclusivamente esta versión. ¿Cómo sabemos que nuestro "Jupyter Notebooks" es ejecutado por un tiempo de ejecución de Python 3? Podemos mirar en la esquina superior derecha de este "Jupyter Notebooks" y ver "Python 3". 
</p>
<p>
    También podemos preguntar directamente a Python y obtener una respuesta detallada. Intente ejecutar el siguiente código: 
</p>

In [2]:
# Verificar la versión de Python

import sys
print(sys.version)

3.7.10 (default, May  3 2021, 02:48:31)
[GCC 7.5.0]

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Consejo:] <code>sys</code> es un módulo incorporado que contiene muchos parámetros y funciones específicos del sistema, incluida la versión de Python en uso. Antes de utilizarlo, debemos <code>importarlo</code>.
</div>
<hr/>

<h3 id="comentarios">Cómo escribir comentarios en Python</h3>

<p>
    Además de escribir código, tenga en cuenta que siempre es una buena idea agregar comentarios a su código. Esto ayudará a otros a comprender lo que usted intentaba lograr (la razón por la que escribió un fragmento de código dado). Esto no solo ayuda a <strong> otras personas</strong>  a entender su código, sino que también puede servir como un recordatorio <strong>para usted</strong>.
</p>

<p>
    Para escribir comentarios en Python, use el símbolo numeral <code>#</code> antes de escribir su comentario. Cuando ejecute su código, Python ignorará todo lo que esté después del <code>#</code> en una línea determinada.
</p>

In [3]:
# Practique la escritura de comentarios

print('Hola, Python!') # Esta línea escribe una cadena
# print('Hola')

Hola, Python!

<p>
    Después de ejecutar la celda de arriba, debería notar que <code>Esta línea escribe una cadena</code> no apareció en la salida, porque era un comentario (y, por lo tanto, fue ignorado por Python). 
</p>
<p>
    La segunda línea tampoco fue ejecutada porque <code>print('Hola')</code> también se escribió después del símbolo numeral <code>(#)</code>. Dado que esto no es un comentario explicativo del programador, sino una línea de código real, podríamos decir que el programador <em>comentó</em> esa segunda línea de código.
</p>

<h3 id="errores">Errores en Python</h3>

<p>Todos cometemos errores. Para muchos tipos de errores, Python le dirá que ha cometido un error al presentarle un mensaje de error. Es importante leer atentamente los mensajes de error para comprender realmente dónde cometió el error y cómo puede corregirlo.
</p>
<p>Por ejemplo, si escribe <code>frint</code> en vez de <code>print</code>, Python mostrará un mensaje de error. Pruébelo:

In [4]:
# Escribir cadena como mensaje de error

frint("Hola, Python!")

NameError: ignored

<p>El mensaje de error le dice: 
<ol>
    <li>Dónde ocurrió el error (más útil en celdas o scripts de "Jupyter Notebooks" grandes)
</li> 
    <li>Qué tipo de error fue (NameError)</li> 
</ol>
<p>En este caso, Python intentó ejecutar la función <code>frint</code>, pero no pudo determinar qué es <code>frint</code> porque no es una función incorporada y tampoco la hemos definido previamente.</p>

<p>
    Notará que si se comete un tipo de error diferente, por ejemplo al olvidar cerrar la cadena, se obtendrá un error diferente (es decir, un <code>SyntaxError</code>). Pruébelo a continuación:
</p>

In [5]:
# Intente ver el mensaje de error incorporado

print("¡Hola, Python!)

SyntaxError: ignored

<h3 id="python_error">¿Python reconoce errores antes de ejecutar su código?</h3>

Python es lo que se denomina un _lenguaje interpretado_. Los lenguajes compilados examinan todo su programa en el momento de la compilación y pueden advertirle sobre toda una clase de errores antes de la ejecución. En contraste, Python interpreta su script línea por línea a medida que lo ejecuta. Python dejará de ejecutar el programa en su totalidad cuando encuentre un error (a menos que el programador investigue y se encargue del error, un tema más avanzado que trataremos más adelante en este curso).

Intente ejecutar el código en la celda que aparece a continuación y vea qué sucede:

In [7]:
# 

print("Esto se escribirá")
frint("Esto causará un error")
print("Esto NO se escribirá")

Esto se escribirá

NameError: ignored

<h3 id="ejercicio">Ejercicio: Su primer programa</h3>

<p>Generaciones de programadores han comenzado sus carreras de codificación simplemente escribiendo "¡Hola, mundo!". Usted seguirá sus pasos.</p>
<p>
En la celda de código que aparece a continuación, use la función <code>print()</code> para escribir la frase: <code>¡Hola, Mundo!</code></p>

In [8]:
# Escriba su código a continuación y presione Shift+Enter para ejecutarlo
print("¡Hola, Mundo!")

¡Hola, Mundo!

Haga doble clic __aquí__ para ver la solución.

<!-- Su respuesta aparece a continuación:

print("¡Hola, mundo!")

-->

<p>Ahora, vamos a mejorar su código con un comentario. En la celda de código que aparece a continuación, escriba la frase: <code>¡Hola, Mundo! </code> y coméntela con la frase <code>Escribir el tradicional hola mundo</code> todo en una misma línea de código.</p>

In [9]:
# Escriba su código a continuación y presione Shift+Enter para ejecutarlo  
print("¡Hola, Mundo!") #Escribir el tradicional hola mundo

¡Hola, Mundo!

Haga doble clic __aquí__ para ver la solución.

<!-- Su respuesta aparece a continuación:

print("¡Hola, mundo!") # Escriba el tradicional hola mundo

-->

<hr>

<h2 id="tipos_objectos" align="center">Tipos de objetos en Python</h2>

<p>Python es un lenguaje orientado a objetos. Existen muchos tipos diferentes de objetos en Python. Comencemos con los tipos de objetos más comunes: <i>cadenas (strings)</i>, <i>enteros (integer)</i> y <i>flotantes (float)</i>. Cada vez que escribe palabras (texto) <i>(Words)</i> en Python, está usando <i>cadenas de caracteres</i> (cadenas para abreviar). Los números más comunes, por otro lado, son <i>enteros</i> (por ejemplo, -1, 0, 100) y <i>flotantes</i>, que representan números reales (por ejemplo, 3.14, -42.0).
</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesObjects.png" width="600">
</a>

<p>Las siguientes celdas de código contienen algunos ejemplos.</p>

In [10]:
# Enteros (Integer)

11

11

In [11]:
# Flotante (Float)

2.14

2.14

In [12]:
# Cadenas (String)

"¡Hola, Python 101!"

'¡Hola, Python 101!'

<p>Puede hacer que Python le diga el tipo de expresión usando la función incorporada <code>type()</code>. Notará que Python se refiere a enteros como <code>int</code>, flotantes como float y cadenas de caracteres como <code>str</code>.
</p>

In [13]:
# Tipo de 12

type(12)

int

In [14]:
# Tipo de 2.14

type(2.14)

float

In [15]:
# Tipo de "¡Hola, Python 101!

type("¡Hola, Python 101!")

str

<p>En la celda de código que aparece a continuación, use la función <code>type()</code> para comprobar el tipo de objeto de <code>12.0</code>.
</p>

In [17]:
# Escriba su código abajo. No olvide presionar Shift+Enter para ejecutar la celda.
type(12.0)

float

Haga doble clic __aquí__ para ver la solución.

<!-- Su respuesta aparece a continuación:

type(12.0)

-->

<h3 id="ent">Enteros</h3>

<p>A continuación se muestran algunos ejemplos de enteros. Los enteros pueden ser números negativos o positivos:</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesInt.png" width="600">
</a>

<p>Podemos verificar que este es el caso usando, ciertamente, la función <code>type()</code>
</p>

In [18]:
# Escribir el tipo de -1

type(-1)

int

In [19]:
# Escribir el tipo de 4

type(4)

int

In [20]:
# Escribir el tipo de 0

type(0)

int

<h3 id="flotantes">Flotantes</h3>

<p>Los flotantes representan números reales; son un superconjunto de números enteros, pero también incluyen "números con decimales". Existen algunas limitaciones cuando se trata de máquinas que representan números reales, pero los números de punto flotante son una buena representación en la mayoría de los casos. Puede obtener más información sobre las características específicas de los flotantes para su entorno de ejecución verificando el valor de <code>sys.float_info</code>. Esto también le dirá cuál es el número más grande y más pequeño que se puede representar con ellos.</p>
<p>Una vez más, puede probar algunos ejemplos mediante la función <code>type()</code>:</p>

In [21]:
# Escribir el tipo de 1.0

type(1.0) # Observe que 1 es un int y 1.0 es un flotante

float

In [22]:
# Escribir el tipo de 0.5

type(0.5)

float

In [23]:
# Escribir el tipo de 0.56

type(0.56)

float

In [24]:
# Configuración del sistema sobre el tipo de flotante

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

<h3 id="convertir">Cómo convertir de un tipo de objeto a otro tipo de objeto</h3>

<p>Se puede cambiar el tipo de objeto en Python, lo cual se denomina typecasting. Por ejemplo, puede convertir un <i>entero</i> en un <i>flotante</i> (por ejemplo, de 2 a 2.0). </p>
<p>Probemos:</p>

In [25]:
# Verificar que este sea un entero

type(2)

int

<h4>Cómo convertir enteros en flotantes</h4>
<p>Vamos a convertir el número entero 2 en un flotante:</p>

In [26]:
# Convertir 2 en un flotante

float(2)

2.0

In [27]:
# Convertir el entero 2 en un flotante y verificar su tipo

type(float(2))

float

<p>Cuando convertimos un número entero en un flotante, en realidad no cambiamos el valor (es decir, la mantisa) del número. Sin embargo, si convertimos un flotante en un número entero, podríamos perder cierta información. Por ejemplo, si convertimos el flotante 1.1 en un número entero, obtendremos 1 y perderemos la información decimal (es decir, 0.1):</p>

In [28]:
# Convertir 1.1 en un número entero dará como resultado la pérdida de información

int(1.1)

1

<h4>Cómo convertir cadenas en enteros o flotantes</h4>

<p>En ocasiones, podemos tener una cadena que contiene un número dentro de ella. Si este es el caso, podemos convertir dicha cadena que representa un número en un entero utilizando <code>int()</code>:</p>

In [29]:
# Convertir una cadena en un entero

int('1')

1

<p>Sin embargo, si intenta hacerlo con una cadena que no es una combinación perfecta para un número, obtendrá un error. Intente lo siguiente:</p>

In [30]:
# Convertir una cadena en un entero con error

int('1 or 2 people')

ValueError: ignored

<p>También puede convertir cadenas que contienen números de punto flotante en objetos de <i>flotantes</i>:</p>

In [31]:
# Convertir la cadena "1.2" en un flotante

float('1.2')

1.2

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Consejo:] Tenga en cuenta que las cadenas se pueden representar con comillas simples (<code>'1.2'</code>) o comillas dobles (<code>"1.2"</code>), pero no puede mezclar ambas (por ejemplo, <code>"1.2'</code>).
</div>
<hr/>

<h4>Cómo convertir números a cadenas</h4>

<p>Si podemos convertir cadenas en números, es natural suponer que podemos convertir números en cadenas, ¿verdad?</p>

In [32]:
# Convertir un entero en una cadena

str(1)

'1'

<p>Y no existe ninguna razón por la que no podamos hacer que los flotantes también se conviertan en cadenas:</p>

In [33]:
# Convertir un flotante en una cadena

str(1.2)

'1.2'

<h3 id="bool">Tipo de datos booleano</h3>

<p>El <i>Booleano</i> es otro tipo importante en Python. Un objeto de tipo booleano puede tomar uno de dos valores: <code>Verdadero (True)</code> o <code>Falso (False)</code>:</p>

In [34]:
# Valor verdadero

True

True

<p>Tenga en cuenta que el valor <code>True</code> lleva "T" mayúscula. Lo mismo ocurre con <code>False</code> (es decir, debe llevar la "F" mayúscula).</p>

In [35]:
# Valor falso

False

False

<p>Cuando usted le pide a Python que muestre el tipo de un objeto booleano se mostrará <code>bool</code> que significa <i>booleano</i>:</p>

In [36]:
# Tipo de Verdadero

type(True)

bool

In [37]:
# Tipo de Falso

type(False)

bool

<p>Podemos convertir objetos booleanos en otros tipos de datos. Si convertimos un booleano con un valor de <code>Verdadero</code> en un entero o flotante, obtendremos un uno. Si convertimos un booleano con un valor de <code>Falso</code> en un entero o flotante, obtendremos un cero. Del mismo modo, si convertimos un 1 en un Booleano, se obtiene un <code>Verdadero</code>. Y si convertimos un 0 en un booleano, obtendremos un <code>Falso</code>. Probemos:</p>

In [38]:
# Convertir Verdadero en int

int(True)

1

In [39]:
# Convertir 1 en booleano

bool(1)

True

In [40]:
# Convertir 0 en booleano

bool(0)

False

In [41]:
# Convertir Verdadero en flotante

float(True)

1.0

<h3 id="ejer_tipo">Ejercicio: Tipos</h3>

<p>¿Cuál es el tipo de datos del resultado de  <code>6 / 2</code>?</p>

In [43]:
# Escriba su código abajo. No olvide presionar Shift+Enter para ejecutar la celda.
type(6/2)

float

Haga doble clic __aquí__ para ver la solución.

<!-- Su respuesta aparece a continuación:
type(6/2) # float
-->

<p>¿Cuál es el tipo del resultado de <code>6 // 2</code>? (Tenga en cuenta la doble barra <code>//</code>.)</p>

In [44]:
# Escriba su código abajo. No olvide presionar Shift+Enter para ejecutar la celda.
type(6//2)

int

Haga doble clic __aquí__ para ver la solución.

<!-- Su respuesta aparece a continuación:
type(6//2) # int, ya que las barras dobles representan la división entera 
-->

<hr>

<h2 id="expresiones">Expresión y variables</h2>

<h3 id="exp">Expresiones</h3>

<p>Las expresiones en Python pueden incluir operaciones entre tipos compatibles (por ejemplo, enteros y flotantes). Por ejemplo, operaciones aritméticas básicas como sumar números múltiples:</p>

In [45]:
# Expresión de operación de suma

43 + 60 + 16 + 41

160

<p>Podemos realizar operaciones de resta utilizando el operador menos. En este caso, el resultado es un número negativo:</p>

In [46]:
# Expresión de operación de resta

50 - 60

-10

<p>Podemos realizar multiplicaciones usando un asterisco:</p>

In [47]:
# Expresión de operación de multiplicación

5 * 5

25

<p>También, podemos realizar divisiones con la barra:

In [48]:
# Expresión de operación de división

25 / 5

5.0

In [49]:
# Expresión de operación de división

25 / 6

4.166666666666667

<p>Como observamos en el cuestionario anterior, podemos usar la barra doble para la división de enteros, donde el resultado se redondea al entero más cercano:

In [50]:
# Expresión de operación de división de números enteros

25 // 5

5

In [51]:
# Expresión de operación de división de números enteros

25 // 6

4

<h3 id="ejer_exp">Ejercicio: Expresión</h3>

<p>Escribamos una expresión que calcule cuántas horas hay en 160 minutos:

In [52]:
# Escriba su código abajo. No olvide presionar Shift+Enter para ejecutar la celda.
160 / 60

2.6666666666666665

Haga doble clic __aquí__ para ver la solución.

<!-- Su respuesta aparece a continuación:
160/60 
# O bien 
160//60
-->

<p>Python sigue las convenciones matemáticas reconocidas al evaluar expresiones matemáticas. En el siguiente ejemplo, Python suma 30 al resultado de la multiplicación (es decir, 120).

In [53]:
# Expresión matemática

30 + 2 * 60

150

<p>Y al igual que en las matemáticas, las expresiones entre paréntesis tienen prioridad. Por ende, a continuación se multiplica 32 por 60.

In [54]:
# Expresión matemática

(30 + 2) * 60

1920

<h3 id="var">Variables</h3>

<p>Al igual que con la mayoría de los lenguajes de programación, podemos almacenar valores en las <i>variables</i> para poder usarlos más adelante. Por ejemplo:</p>

In [56]:
# Almacenar valor en variable

x = 43 + 60 + 16 + 41

<p>Para ver el valor de <code>x</code> en un "Jupyter Notebooks", simplemente podemos colocarlo en la última línea de una celda:</p>

In [57]:
# Escribir el valor en variable

x

160

<p>We can also perform operations También podemos realizar operaciones con <code>x</code> y guardar el resultado en una nueva variable:</p>

In [58]:
# Usar otra variable para almacenar el resultado de la operación entre la variable y el valor

y = x / 60
y

2.6666666666666665

<p>Si guardamos un valor en una variable existente, el nuevo valor sobrescribirá el valor anterior:</p>

In [59]:
# Sobrescribir la variable con un nuevo valor

x = x / 60
x

2.6666666666666665

<p>Es una buena práctica usar nombres de variables significativos para que usted y otros puedan leer el código y entenderlo más fácilmente:</p>

In [60]:
# Nombrar las variables de manera significativa

total_min = 43 + 42 + 57 # Longitud total de álbumes en minutos
total_min

142

In [61]:
# Nombrar las variables de manera significativa

total_hours = total_min / 60 # Longitud total de álbumes en horas
total_hours

2.3666666666666667

<p>En las celdas de arriba agregamos la longitud de tres álbumes en minutos y lo almacenamos en <code>total_min</code>. Luego, lo dividimos por 60 para calcular la longitud total <code>total_hours</code> en horas. También puede hacerlo todo de una vez en una sola expresión, siempre que use paréntesis para agregar la longitud de los álbumes antes de dividir, como se muestra a continuación.</p>

In [62]:
# Expresión complicada

total_hours = (43 + 42 + 57) / 60  # Total de horas en una única 
total_hours

2.3666666666666667

<p>Si prefiere tener el total de horas como un entero, por supuesto puede reemplazar la división de punto flotante con una división de número entero (es decir, <code>//</code>).</p>

<h3 id="ejer_exp_var">Ejercicio: Expresión y variables en Python</h3>

<p>¿Cuál es el valor de <code>x</code> en el que <code>x = 3 + 2 * 2</code></p>

In [64]:
# Escriba su código abajo. No olvide presionar Shift+Enter para ejecutar la celda.
x = 3 + 2 * 2
x

7

Haga doble clic __aquí__ para ver la solución.

<!-- Su respuesta aparece a continuación:
7
-->

<p>¿Cuál es el valor de <code>y</code> en el que <code>y = (3 + 2) * 2</code>?</p>

In [65]:
# Escriba su código abajo. No olvide presionar Shift+Enter para ejecutar la celda.
y = (3 + 2) * 2
y

10

Haga doble clic __aquí__ para ver la solución.

<!-- Su respuesta aparece a continuación:
10
-->

<p>¿Cuál es el valor de <code>z</code> en el que <code>z = x + y</code>?</p>

In [66]:
# Escriba su código abajo. No olvide presionar Shift+Enter para ejecutar la celda.
z = x + y
z

17

Haga doble clic __aquí__ para ver la solución.

<!-- Su respuesta aparece a continuación:
17
-->

<hr>
<h2>¡El último ejercicio!</h2>
<p>Felicitaciones, ha completado su primera lección y  laboratorio práctico en Python. Sin embargo, hay algo más que debes hacer. La comunidad de Data Science fomenta el trabajo compartido. La mejor manera de compartir y mostrar su trabajo es compartirlo en GitHub. Al compartir su "Jupyter Notebook" en GitHub, no solo está construyendo su reputación con otros científicos de datos, sino que también puede mostrarlo cuando solicita un trabajo. Aunque este fue su primer trabajo, nunca es demasiado temprano para comenzar a crear buenos hábitos. Por lo tanto, por favor lea y siga <a href="https://cognitiveclass.ai/blog/data-scientists-stand-out-by-sharing-your-notebooks/" target="_blank">este articulo</a> para aprender como compartir su trabajo.
<hr>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<h2>¡Obtenga IBM Watson Studio libre de cargo!</h2>
    <p><a href="https://cocl.us/NotebooksPython101bottom"><img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Ad/BottomAd.png" width="750" align="center"></a></p>
</div>

<h3>Acerca de los autores</h3>  
<p><a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a> es un Científico de Datos de IBM y ostenta un PhD en Ingeniería Eléctrica. Sus estudios están centrados en el uso de Machine Learning, Procesamiento de Señaoles y Visión por Ordenador para determinar como los videos impactan la cognición humana. Joseph ha trabajado para IBM desde que completó su PhD.</p>

Otros colaboradores: <a href="www.linkedin.com/in/jiahui-mavis-zhou-a4537814a">Mavis Zhou</a>

<hr>
<p>Derechos de autor &copy; 2018 IBM Developer Skills Network. Esta "Jupyter Notebook" y su código fuente se publican bajo los términos de la <a href="https://cognitiveclass.ai/mit-license/">Licencia de MIT</a>.</p>